<h2 class="page-header"><p>Welcome to your Plumber Slots</p></h2>
<p>Please select days available and times of day you avaible</p>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Monday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Tuesday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Wednesday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Thursday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Friday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Saturday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Sunday</label>
  </div>
</div>
<!-- <br>
<form class="form" action="/" method="post">
<div id="radBtn" class="btn-group" data-toggle="buttons">
<label class="radio-inline btn btn-outline-dark"><input type="radio"  name="times" value="morning">Morning</label>
<label class="radio-inline btn btn-outline-dark"><input type="radio"  name="times" value="midday">Midday</label>
<label class="radio-inline btn btn-outline-dark"><input type="radio"  name="times" value="afternoon">Afternoon</label>
</div>
  <br>
  <a href="/filter"><input id="btnGreet" class="btn btn-success" type="submit" value="Filter"></input></a>
</div>
</form> -->
