<h2 class="page-header"><p>Welcome to your Plumber Slots</p></h2>
<p>Please select times you avaible below</p>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Monday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Tuesday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Wednesday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Thursday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Friday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Saturday</label>
  </div>
</div>

<div class="pretty p-default p-round">
  <input type="checkbox" />
  <div class="state p-success-o">
    <label>Sunday</label>
  </div>
</div>
